<div class="form">
  <div class="grid">
    <mat-form-field style="grid-area: number" appearance="outline">
      <mat-label>Numer klienta</mat-label>
      <input matInput>
    </mat-form-field>

    <div>
    
      <mat-form-field style="grid-area: nip" appearance="outline">
        <mat-label>Nazwa</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field style="grid-area: payerName" appearance="outline">
        <mat-label>NIP</mat-label>
        <input matInput>
      </mat-form-field>
    </div>




    <mat-form-field style="grid-area: contactName" appearance="outline">
      <mat-label>Imie i Nazwisko</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field style="grid-area: phone" appearance="outline">
      <mat-label>Telefon</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field style="grid-area: country" appearance="outline">
      <mat-label>Kraj</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field style="grid-area: zipCode" appearance="outline">
      <mat-label>Kod</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field style="grid-area: city" appearance="outline">
      <mat-label>Miasto</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field style="grid-area: street" appearance="outline">
      <mat-label>Ulica</mat-label>
      <input matInput>
    </mat-form-field>


    <mat-form-field style="grid-area: email" appearance="outline">
      <mat-label>Adres e-mail</mat-label>
      <input matInput>
    </mat-form-field>


    
  </div>
</div>

